<h4 class="text-center">Login</h4>

<form [formGroup]="loginForm" (submit)="login()" class="form mt-4">
  <div class="form-group">
    <input #usernameInput formControlName="username" class="form-control" placeholder="username" autofocus>
    <app-message *ngIf="loginForm.get('username').errors?.required"
                 text="User name is required!"></app-message>
  </div>

  <div class="form-group">
    <input formControlName="password" type="password" class="form-control" placeholder="password">
    <app-message *ngIf="loginForm.get('password').errors?.required"
                 text="Password is required!"></app-message>
  </div>

  <button type="submit" class="btn btn-primary btn-block" [disabled]="loginForm.invalid">Login</button>
</form>

<p>Not a user?<a>Register now</a></p>
